# This workflow will build and package a .NET application
# for Windows, Linux, and macOS platforms. 

name: . NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        include:
          - os: windows-latest
            runtime: win-x64
          - os: ubuntu-latest
            runtime: linux-x64
          - os: macos-latest
            runtime: osx-x64

    runs-on: ${{ matrix.os }}

    env:
      Solution_Name: KPConvert.slnx
      Project_Path: KPConvert/KPConvert. csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore the application
      run: dotnet restore ${{ env.Solution_Name }}

    # Build the application
    - name: Build the application
      run: dotnet build ${{ env.Solution_Name }} --configuration Release --no-restore

    # Publish the application
    - name: Publish the application
      run: dotnet publish ${{ env.Project_Path }} --configuration Release --runtime ${{ matrix.runtime }} --self-contained true -o ./publish/${{ matrix.runtime }}

    # Upload the build artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: KPConvert-${{ matrix.runtime }}
        path: ./publish/*
